body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .calculator {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 300px;
    text-align: center;
  }
  .title {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: bold;
  }
  .screen {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
    font-size: 24px;
    width: 100%;
    background-color: #fff;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }

  button {
    padding: 15px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
  }

  button:hover {
    background-color: #0056b3;
  }